<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Tus Aplicaciones</h1>
        <span class="spacer-header-login"></span>
        <div class="example-button-container">
            <button mat-icon-button (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>


<div class="container-aplicaciones">
    <h1 class="title-home">
        Bienvenido, {{nombreUsuario}}
    </h1>

    <button mat-raised-button color="primary" (click)="openAddAplication()">Agregar Aplicacion</button>

    @if (cargando) {
    <h1>Cargando...</h1>
    }

    @if(!cargando){
    <div>
        <app-lista-aplicaciones [listaAplicaciones]="this.aplicaciones"
            (deleteAplicacionEmit)="obtenerAplicaciones()"></app-lista-aplicaciones>
    </div>
    }
</div>